%h1= t('home.home.termsandconds')
%p= t('.welcome')
%p= t('.before')
%ul
  %li= t('home.home.rule1')
  %li= t('home.home.rule2')
  %li= t('home.home.rule3')
  %li= t('home.home.rule4')
  %li= t('home.home.rule5')
  %li= t('home.home.rule6')
